@import "tailwindcss";
@import "./typography.css";
@import "./images.css";

@theme {
  --aspect-film: 3 / 2; 

  --font-sans: 'Inter Variable', 'sans-serif';
  --font-display: 'Jacquard 24', 'sans-serif';

  --color-primary: oklch(97.06% 0.0049 64.59);
  --color-secondary: oklch(29.96% 0.0049 64.59);

  --animate-text: text 30s ease-in-out infinite;
  @keyframes text {
    0% { color: var(--color-secondary); }
    10% { color: bisque; }
    20% { color: cornflowerblue; }
    30% { color: darkolivegreen; }
    40% { color: thistle; }
    50% { color: steelblue; }
    60% { color: sandybrown; }
    70% { color: royalblue; }
    80% { color: mistyrose; }
    90% { color: lightcoral; }
    100% { color: var(--color-secondary); }
  }
}

body {
  @apply transition-colors ease-in-out;
  @apply bg-primary text-secondary;
}

.dark-mode {
  --color-primary: oklch(29.96% 0.0049 64.59);
  --color-secondary: oklch(97.06% 0.0049 64.59);
}

