---
import Layout from '../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';
import sign from '../assets/sign.jpg';
import birds from '../assets/birds.jpg';
---

<Layout>
  <section class="container p-4 flex flex-col gap-4"> 
    <div class="flex justify-between relative">
      <h1 class="">Null Contact</h1>
    </div>

    <Image class="film" src={birds} alt="" priority={true} layout='responsive' width={752} height={499}/>
    <Image class="film" src={sign} alt="" priority={true} layout='responsive' width={752} height={499}/>
  </section>
</Layout>
